/* media queries */
/* DESKTOP FIRST */

.container {
    max-width: 1903px;
    width: 100%;
}

@media (max-width: 768px) {

}

@media (max-width: 480px) {
    .row {
        justify-content: center;
    }
}